doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Circuits
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Generator of seamless tiles that resemble circuit boards.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      max-width = 600px

      body
        font-size 1.2em
        line-height 1.4

      .header, .footer
        margin 0 auto
        max-width max-width

      .footer
        padding-top 1em
        small
          color #999
          a
            color #888

      a
        text-decoration none
        &:hover
          text-decoration underline

      #tile
        display block
        margin 0 auto
        @media (max-width 600px)
          width 100%

      #values
        display block
        font-family monospace
        font-size 14px
        margin-left auto
        margin-right auto
        max-width max-width
        width 100%

      form
        text-align center

      .separated-block
        line-height 1
        font-size 0
        padding 10px 0

      textarea
        box-sizing border-box
        width 100%

      body.circuit
        &, h1 a
          color #fff
        textarea
          background none
          border 1px solid #fff

  body
    .header: :markdown-it

      # [Circuits](.)

      I created this circuit seamless-tile-generator because I’m going to need
      it in TorusCycle (early stage game). But you can play with it here.

    .separated-block-top
      canvas#tile

    .readable
      form
        .separated-block
          button#regenerate.btn.btn-info(type='button') Regenerate
          = ' '
          button#random.btn(type='button') Random
          = ' '
          button#set-as-background.btn(data-toggle='button', type='button') Set as background
      textarea#values(rows='13').
        {
            "size": 64,
            "abandonPartitionSize": 80,
            "cellSize": 8,
            "backgroundColor": "#112211",
            "circuitPrimaryColor": "#116611",
            "circuitSecondaryColor": "#666611",
            "squareRelativeSize": 0.7,
            "circuitPrimaryLineWidth": 0.26,
            "fontColor": "#666611",
            "fontFamily": "monospace",
            "fontRelativeSize": 1.2
        }

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/circuits)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)

    script !{js}
