extends ../intercessor-layout

block content
  .readable.
    I created this circuit seamless tile generator because I'm going to need it
    in TorusCycle (early stage game). But you can play with it here. If you want
    to edit it, go ahead and <a
    href="https://github.com/paul-nechifor/circuits">fork it on GitHub</a>.

  .separated-block-top
    canvas#tile

  .readable
    form
      .separated-block
        button#regenerate.btn.btn-info(type='button') Regenerate
        = ' '
        button#random.btn(type='button') Random
        = ' '
        button#set-as-background.btn(data-toggle='button', type='button') Set as background
    textarea#values(rows='13').
      {
          "size": 64,
          "abandonPartitionSize": 80,
          "cellSize": 8,
          "backgroundColor": "#112211",
          "circuitPrimaryColor": "#116611",
          "circuitSecondaryColor": "#666611",
          "squareRelativeSize": 0.7,
          "circuitPrimaryLineWidth": 0.26,
          "fontColor": "#666611",
          "fontFamily": "monospace",
          "fontRelativeSize": 1.2
      }
