canvas#tile
  display block
  margin 0 auto

textarea#values
  display block
  width 90%
  margin-left auto
  margin-right auto
  font-family monospace
  font-size 14px

form
  text-align center

body.circuit
  &, h1 a
    color #FFF
